html {
	background:#000000 ;
}
.html::-webkit-scrollbar {
	display: none;
}

body { padding: 0px;
	height: 200vh;
	overflow-y: scroll;
	overflow-x: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
.body::-webkit-scrollbar {
	display: none;
}

#chart {
	width: 100%;
	max-width: 1100px;
	margin: 35px auto;
  }

#buy_sell {
	width: 80%;
	max-width: 800px;
	margin: 35px auto;
	height: 50px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	display: flex;
    flex-direction: row;
	align-items: center;
	padding: 0px;
	position: relative;
}
#buy {
	margin-left: 0.5%;
	margin-right: 0.5%;
	width: 49%;
	height: 45px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgb(23, 24, 26);
	align-items: flex-start;
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	overflow: hidden;
}
#buy:hover {
	cursor: pointer;
	box-shadow: 0px 0px 0.5px 0.5px #0abb92;
}
#sell {
	margin-left: 0.5%;
	margin-right: 0.5%;
	width: 49%;
	height: 45px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgb(23, 24, 26);
	align-items: flex-end;
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	overflow: hidden;
}
#sell:hover {
	cursor: pointer;
	box-shadow: 0px 0px 0.5px 0.5px #0abb92;
}

#buy_sell_form {
	position: relative;
	width: 80%;
	max-width: 800px;
	margin: 35px auto;
	height: 200px;
	background: linear-gradient(180deg, #030303 0%, rgba(6, 6, 6, 0.848958) 25%, rgba(10, 9, 9, 0.630823) 58.33%, rgba(13, 12, 12, 0.473117) 86.98%, rgba(14, 14, 14, 0.378494) 99.99%, rgba(21, 20, 20, 0) 100%);
	border-radius: 8px;
	background:rgb(23, 24, 26);
}

.type_delivery {
	top: 0;
	left: 0;
	position: absolute;
	font-family: Great Vibes;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: #FFFFFF;
	padding-top: 0;
	padding-left: 3%;
}
.share_text {
	position: absolute;
	font-family: Great Vibes;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: #FFFFFF;
	padding-top: 5%;
	padding-left: 3%;
}
.share_value {
	position: absolute;
	padding-top: 8.5%;
	padding-left: 75%;
}
.share_input {
	width: 150px;
	height: 25px;
	font-size: larger;
	background-color: #66e3c4;
	outline: 0;
	border: none;
	font-weight: 500;
	color: black;
	letter-spacing: 1px;
	font-weight: bold;
}
.price_text {
	position: absolute;
	font-family: Great Vibes;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: #FFFFFF;
	padding-top: 10%;
	padding-left: 3%;
}
.price_value {
	position: absolute;
	padding-top: 13.5%;
	padding-left: 75%;
}

