html {
	background:#000000 ;
}

body { padding: 0px;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
.body::-webkit-scrollbar {
	display: none;
}

#chart {
	width: 100%;
	max-width: 1100px;
	margin: 35px auto;
  }