<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>Details</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="stylesheet" href="{% static 'css/detail.css' %}" >
		<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=4"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- Add your custom HEAD content here -->
		<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>

	</head>
	<body>

	</body>

	<script type='text/javascript' src="{% static 'js/detail.js' %}"></script>

</html>