{% load static %}

<!DOCTYPE HTML>	
<html>	
<head>
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.stock.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<body>

  <div id="chart"></div>

</body>
<script>
  var csrftoken = '{{ csrf_token }}';
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script type='text/javascript' src="{% static 'js/detail.js' %}"></script>
</html>