/*
	@name gain_web_app
*/
/* Only edit this if you know what you are doing! */

html {
	background:#262626 ;
}

body { padding: 0px;
	height: 100vh;
	overflow-y: scroll;
}

.header {
	display: flex;
    flex-direction: row;
	justify-content: left;
	align-items: center;
	padding: 0px;
	position: relative;
	
}

.header_logo {
	margin-left: 5%;
	display: inline-block;
}

.header_input {
	margin-left: 2%;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;

position: relative;
	
}
.input1 {
	padding-left: 2%;
	width: 100%;
	height: 4vh;
    flex-grow: 0;
    margin: 0px 37px;
	overflow: hidden;
	font-size: 18px;
	text-transform: uppercase;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background:rgba(196,196,196,1);
}

.profile {
	margin-left: 20%;
	position: relative;
	width: 5vh;
	height: 5vh;
	background-color:rgba(196,196,196,1);
	background-size:cover;
	border-radius: 50px;
}

.main_column {
	float: left;
	min-width: 900px;
	width: 66%;
	margin: 1%;
	height: 100%;
	align-items: center;
}
.side_column {
	min-width: 400px;
	float: left;
	background: cornsilk;
}
.row:after {
	float: left;
	display: flex;
}

.index {
	margin-top: 20px;
	margin-left: 2%;
	margin-bottom: 20px;
}
.index_logo {
	margin-left: 3%;
}
.index div {
	margin: 0 1% 1% 1%;
	background: #6c1dcf;
	border-radius: 12px;
	position: relative;
	width: 30%;
	max-width: 273px;
	height: 74px;
	display: inline-block;
}
.nifty {
	min-width:270px;
}
.sensex {
	min-width: 270px;
}

.topgainer_logo {
    margin-left: 3%;
}
.gainer {
	margin-left: 2%;
	margin-bottom: 3%;
}
.gainer div {
	margin-left: 2%;
    position: relative;
	min-width: 152px;
	width: 15%;
    min-height: 152px;
	height: 15%;
    background: #5F8659;
    backdrop-filter: blur(4px);
    border-radius: 12px;
	display: inline-block;
}


.toploser_logo {
	margin-left: 3%;
}
.loser div {
	margin-left: 1%;
    position: relative;
	width: 152px;
    height: 150px;
    background: #5F8659;
    backdrop-filter: blur(4px);
    border-radius: 12px;
	display: inline-block;
}