<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    <!--favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'media/image/logo.png' %}" />

    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</head>
<body class="bg-black">
    <!--container-->
    <div class="flex h-screen py-[10%] justify-center items-center">
        <!--inner container-->
        <div class=" border-white border-2 border-opacity-20 h-full w-[80%] rounded-xl">
            <ul class="text-white p-4 ">
                <div class="bg-zinc-900">
                    <li class="font-thin mt-6">NAME</li>
                </div>
            </ul>
        </div>
    </div>
</body>