<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    <!--favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'media/image/logo.png' %}" />
    <!--doughnut chart-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</head>

<body class="bg-black ">
    <div class="flex gap-6 justify-center m-[4%] w-[80%]">
        <!--column 1-->
        <div class="w-2/6 rounded-lg bg-zinc-900">
            <div class='flex flex-row justify-center mt-[10%]'>
                <img src="{% static 'media/image/logo.png' %}" alt="home" />
            </div>

            <ul class="text-white pt-20 place-content-stretch text-2xl text-center align-middle">
                <li class="pt-5">
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li class="pt-5">
                    <a href="">Reports</a>
                </li>
                <li class="pt-5">
                    <a href="">Orders</a>
                </li>
                <li class="pt-5">
                    <a href="">Watchlist</a>
                </li>
            </ul>
        </div>
        <!--column 2-->
        <div class="w-4/6">
            <!--grid-->
            <!--ashish-->
            <div class="grid grid-cols-4 gap-6 ">
                <div class="col-span-4 bg-zinc-900 rounded-lg">

                    <div class="grid grid-cols-2 pb-8 gap-4 place-content-center">
                        <!--grid left-->
                        <div class="pl-[10%] place-self-start">
                            <ul class="text-white">
                                <li class="font-thin mt-6">NAME</li>
                                <li id="name" class="my-2 text-xl"></li>
                                <div class="w-full border-t border-gray-500"></div>

                                <li class="font-thin mt-6">DATE OF BIRTH (DD/MM/YYYY)</li>
                                <li id="dob" class="my-2 text-lg"></li>
                                <div class="w-full border-t border-gray-500"></div>

                                <li class="font-thin mt-6">PHONE NUMBER</li>
                                <li id="phone" class="my-2 text-lg"></li>
                                <div class="w-full border-t border-gray-500"></div>

                            </ul>
                        </div>
                        <!--grid right-->
                        <div class="pr-[10%] place-self-end">
                            <ul class="text-white">
                                <li class="font-thin mt-6">EMAIL ID</li>
                                <li id="email" class="my-2 text-xl"></li>
                                <div class="w-full border-t border-gray-500"></div>

                                <li class="font-thin mt-6">GENDER</li>
                                <li id="gender" class="my-2 text-lg"></li>
                                <div class="w-full border-t border-gray-500"></div>

                                <li class="font-thin mt-6">UNIQUE CLIENT CODE</li>
                                <li id="uuid" class="my-2 text-lg"></li>
                                <div class="w-full border-t border-gray-500"></div>

                            </ul>
                        </div>
                    </div>

                </div>
                <!--bottom left-->
                <div class="col-span-2 bg-zinc-900 rounded-lg">
                    <div class="flex justify-center m-[5%] text-2xl text-white">HOLDINGS</div>
                    <div class="shadow-lg rounded-lg m-[3%] ">
                        <canvas class="m-10" id="chartDoughnut"></canvas>
                    </div>
                </div>
                <!--bottom right-->
                <div class="col-span-2 ">
                    <div class="grid grid-cols-1 h-full gap-6">
                        <div class="flex flex-col items-center justify-center col-span-1 bg-zinc-900 rounded-lg ">
                            
                            <div class="text-white text-2xl font-thin">
                                WALLET
                            </div>
                            <br>
                            <div id="wallet_money" class="text-green-500 text-4xl">
                                ₹100,000
                            </div>
                        </div>
                        <div class="flex flex-col items-center justify-center col-span-1 bg-zinc-900 rounded-lg ">
                            
                            <div class="text-white text-2xl font-thin">
                                INVESTED
                            </div>
                            <br>
                            <div id="invested_money" class="text-white text-4xl">
                                ₹100,000
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

<script type='text/javascript' src="{% static 'js/profile.js' %}"></script>

</html>
