<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    <!--favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'media/image/logo.png' %}" />
</head>

<body class="bg-black">
    <div class="flex space-x-[3%] justify-center">
        <!--column 1-->
        <div class="w-1/6 mt-[2.5%] place-content-center rounded-lg">
            <div class=''>
                <img src="{% static 'media/image/logo.png' %}" alt="home" />
            </div>

            <ul class="text-white pt-20 place-content-stretch text-2xl text-center align-middle">
                <li class=" pt-5">
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li class="pt-5">
                    <a href="">Reports</a>
                </li>
                <li class="pt-5">
                    <a href="">Orders</a>
                </li>
                <li class="pt-5">
                    <a href="">Watchlist</a>
                </li>
            </ul>
        </div>
        <!--column 2-->
        <div class="w-3/6 h-screen ">
            <!--grid-->
            <div class="grid grid-cols-3 gap-6 my-[5%] h-auto pr-[5%]">
                <div class="col-span-3 bg-zinc-900 my-[5%] h-full w-full rounded-lg">

                    <div class="grid grid-cols-2 gap-4 place-content-center">
                        <!--grid left-->
                        <div class="pl-[10%] w-[90%] mt-[5%] place-self-start">
                            <ul class="text-white">
                                <li class="font-thin mt-6">NAME</li>
                                <li class="my-2 text-xl">Ashish Singh</li>
                                <div class="w-full border-t border-gray-500"></div>

                                <li class="font-thin mt-6">DATE OF BIRTH (DD/MM/YYYY)</li>
                                <li class="my-2 text-lg">Ashish Singh</li>
                                <div class="w-full border-t border-gray-500"></div>

                                <li class="font-thin mt-6">PHONE NUMBER</li>
                                <li class="my-2 text-lg">Ashish Singh</li>
                                <div class="w-full border-t border-gray-500"></div>

                            </ul>
                        </div>
                        <!--grid right-->
                        <div class="pr-[10%] w-[90%] mt-[5%] place-self-end">
                            <ul class="text-white">
                                <li class="font-thin mt-6">EMAIL ID</li>
                                <li class="my-2 text-xl">Ashish Singh</li>
                                <div class="w-full border-t border-gray-500"></div>

                                <li class="font-thin mt-6">GENDER</li>
                                <li class="my-2 text-lg">Ashish Singh</li>
                                <div class="w-full border-t border-gray-500"></div>

                                <li class="font-thin mt-6">UNIQUE CLIENT CODE</li>
                                <li class="my-2 text-lg">Ashish Singh</li>
                                <div class="w-full border-t border-gray-500"></div>

                            </ul>
                        </div>
                    </div>

                </div>
                <div class="bg-zinc-900 my-[15%] h-full w-full rounded-lg">
                    singh

                </div>
                <div class="bg-zinc-900 my-[15%] h-full w-full rounded-lg">
                    singh
                </div>
                <div class="bg-zinc-900 my-[15%] h-full w-full rounded-lg">
                    singh
                </div>
            </div>
        </div>
    </div>
</body>

</html>